.table-title {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.package-container {
  display: flex;
  justify-content: flex-end;
}

.package-image {
  width: 50px;
  height: auto;
  margin-right: 3%;
}

.package-image:hover{
  cursor: pointer;
}
