<div class = 'login-page'>
  <H2>Adding new package</H2>
  <form [formGroup]="addingForm">
    <div class="justify-content-center">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Identification number</mat-label>
          <input matInput formControlName="idNumber">
        </mat-form-field>
      </div>


      <div id="controls" class = "row">

        <button style="width: 40%; margin-right: 10%" (click)="router.navigate(['index'])" mat-flat-button color="primary">
          Cancel
        </button>

        <button style="width: 40%; margin-right: 10%" [disabled]="addingForm.invalid" (click)="submit()" mat-flat-button color="primary">
          Add
        </button>


      </div>

    </div>

  </form>
</div>
